body {
    margin: 0px;
}

table, th, tr, td, caption {
    height: auto;
    border: 1px solid black;
    text-align: center;
}

.calendars {
    display: grid;
    grid-template-columns: 10px auto 10px;
    justify-items: center;
    margin: 10px;
}

.calendar {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
}

.dropdowns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dropdown {
    text-align: center;
}

.buttons {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-self: right;
}