/* 
.mainContainer{
    margin-top: 50px;
} */
button, input[type="submit"]{
    width: 175px;
    font-size: 19px;
}
.middle{
    grid-template-columns: auto auto auto;
}
/*  Middle Grid*/
.midLeft, .midCenter, .midRight{
    grid-row: 1/2;
    text-align: center;
    align-items: center;
    justify-items: center;
    margin: auto auto auto auto;
}
.midLeft{
    grid-column: 1/2;
}
.midCenter{
    grid-column: 2/3;
}
.midRight{
    grid-column: 3/4;
}
.info{
    grid-row: 2/3;
    grid-column: 1/4;
}
/*  End of Middle Grid*/

.calendars {
    display: grid;
    grid-template-columns: 10px auto 10px;
    justify-items: center;
    margin: 10px;
}

.calendar {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
}

table, th, tr, td, caption {
    height: auto;
    border: 1px solid black;
    text-align: center;
}

/*  Info Accordian */
details{
    margin-bottom: 20px;
}
details[open]{
    margin-bottom: 10px;
}
summary{
    background-color: rgba(0,79,4);
    color: #fff;
    padding: 0.3%;
    padding-left: 1%;
}
.step1{
    margin-left: 5%;
    margin-bottom: 1%;
    font-size: 90%;
}
.step2{
    margin-bottom: 7.5px;
}
h1{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}
.infoAccordian{
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.bold{
    font-weight: bold;
}
.seventyfive{
    font-size: 75%;
}

/* Event Popup*/
.event{
    position: relative;
    text-decoration: underline;
    cursor: pointer;
}
.event .eventText{
    visibility: hidden;
    width: 175px;
    background-color: rgba(255,200,46);
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 2% 2%;
    position: absolute;
    z-index: 1;
}
.event:hover .eventText{
    visibility: visible;
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -80px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0,79,4);
    font-size: 75%;
}
.event .show{
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}