<!DOCTYPE html>
<html>
    <head>
        <title>Academic Schedule - Delete Confirmation</title>
        <link rel="stylesheet" type="text/css" href="../CSS/overall.css"/>
        <link rel="stylesheet" type="text/css" href="../CSS/delete.css"/>
        <script type = "text/javascript"  src = "../Scripts/date.js" ></script>
    </head>
    <header class="banner" role="banner">
        <div class="bannerLeft">
            <img src="../Images/UR_Logo_Primary_Reverse_White.png" alt="UofR logo" role="img"/>
        </div>
        <div class="bannerMiddle">
            2022-2023 Academic Schedule
        </div>
        <div class="bannerRight">
            <p id="date">
                
            </p>
        </div>
    </header>
    <body class="mainContainer" style="display:block!important;margin-top:20vh">
        <div class="content center">
            <h2>Confirmation of Deletion</h2>
            <div>
                <form class="forms" action="./maintenance.html">
                    <p>Blank was deleted</p><!-- 
                    <input type="submit" class="delete right" value="Confirm"> -->
                    <div class="center">
                        <input type="submit" value="Return to Maintenance Page" class="">
                    </div>
                </form>
            </div>
        </div>
        <footer class="bottom">
            <div class="bottomRight">
                <a class="right" href="./semesterView.html">Logout</a>
            </div>
        </footer>
    </body>

    <script type = "text/javascript"  src = "../Scripts/registrations.js" ></script>
    
</html>